.app-content {
  margin: 0;
  padding: 0;
}

.header-content {
  display: flex;
  align-items: center;
  box-shadow: 0 10px 10px -10px #FF6B00;
  img {
      width: 125px;
      height: 125px;
      margin: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  h1 {
      font-size: 8em;
      margin: 20px;
      color: #FF6B00;
    }
}
